[submodule "Microserv_ConfigCloud"]
	path = Microserv_ConfigCloud
	url = https://github.com/raginirai259/Microservice_CloudConfig.git
[submodule "ConfigCloud"]
	path = ConfigCloud
	url = https://github.com/raginirai259/Microserv_ConfigCloud.git
[submodule "ServiceDiscovery"]
	path = ServiceDiscovery
	url = https://github.com/raginirai259/ServiceDiscovery.git
